@page "/skills"
@rendermode InteractiveServer

<PageTitle>Skills</PageTitle>

<h1 class="skills-title">My Skills</h1>

<div class="skills-container">
    <ul class="skills-list">
        <li>HTML & CSS</li>
        <li>JavaScript</li>
        <li>C# / .NET</li>
        <li>Blazor</li>
        <li>SQL / Databases</li>
    </ul>
</div>